* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #372D4F;
    background-color: #95CFC3;
    line-height: 1.5;
  }

/* Header with nav bar -- fixed position */

aside {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8366bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    height: 100vh;
  }

/* Headshot  */

aside img {
  display: block;
  width: 152px;
  height: 152px;
  max-width: fit-content;
  border-radius: 50%;
  border: 2px solid #4D7587;
  margin-top: 30%;
  flex-basis: auto;
}

.column-container {
  display:flex;
  display: block;
  align-content: center;
  padding-bottom: 100px;
  text-align: center;
}

  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }

/* Nav Bar formatting */

  nav a {
    justify-content: center;
    text-decoration: none;
    padding: 0 20px;
    background-color: #7F94EB;
    color: #3B456E;
    font-size: 2vw;
    display: block;
  }

/* BIG Nifer Kilakila */

  h1 {
    padding-top: 50px;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    line-height: 1;
    font-family:'Courier New', Courier, monospace;
  }

/* Main Content */

/* Wrapper for main content */
.main-layout {
  max-width: 80vw;
  left: 20%;
  position: relative;
  display: flexbox;
  margin: 0;
}

/* TO DO: 
    - fix photo proportions and anchor
    - Resonsive CSS on photo so that it looks good on any screen */
.hero-banner {
  background: url(../images/oaklandPort.jpg);
  background-position-x: right;
  min-height: 35vh;
  padding: 2% 6%;
  justify-content: flex-end;
  margin: 0;
}
    

/* Section wrapper */
.page-section {
  margin: 120px 0;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-style: none double;
  border-width: thick;
  border-color:#4D7587;
  width: 100%;
}

.page-section h3 {
  padding: 5px 5px;
  font-size: 1.5em;
}

/* Work Section */

#work div {
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* Projet formatting*/
.flex-item {
  flex-wrap: wrap;
  border: 5px solid #4D7587;
  background-color: #B0BFFF;
  color: #4D7587;
  padding: 0;
  margin: 0.5em;
  text-decoration: none;
  font-size: 0.9rem;
  width: 45%
}

/* Targets  */
.flex-item:first-child {
  min-height: 200px;
  flex-basis: 100%;
}


/* CONTACT SECTION */

/* TO DO:
-ADD icons */

#contact-me {
  display: block;
  text-align: center;
}

#contact-me address {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


/* Contact Me Link formatting */
/* TO DO: 
  - Add Icons*/

#contact-me address a {
  font-size: 2vw;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
  color: #4D7587;
}

#contact-me address a:hover {
  background-size: 100% 88%;
}


/* Made-in footer */

footer {
  font-size: small;
  margin-top: 3rem;
  text-align: center;
  padding-top: 30px;
}


/* MEDIA QUERY -- only breakpoints, NEED TO ADD CSS!! */

/* Tablets */
@media screen and (max-width: 992px) {
  header {
    
  }
}

/* Large smartphones  */
@media screen and (max-width: 768px) {
  nav {
    
  }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
  .sample-img {
    
  }
}