* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #372D4F;
    background-color: #95CFC3;
    line-height: 1.5;
  }

  /*  optional   
  background-color: #c0fff2; */


/* Header with nav bar -- fixed position */

aside {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8366bd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20vw;
    height: 100vh;
  }

  .column-container {
    display:flex;
    display: block; 
    align-content: center;
    padding-bottom: 100px;
    text-align: center;
  }

/* Headshot  */

aside img {
  display: block;
  width: 15vw;
  border-radius: 50%;
  border: 2px solid #4D7587;
  margin-top: 30%;
  flex-basis: auto;
}

/* Name & title in Aside */

h1 {
  text-align: center;
  margin: 0;
  font-size:3vw;
  font-family:'Courier New', Courier, monospace;
}

aside h2 {
  text-align: center;
  margin: 0;
  font-size:2vw;
  font-family:'Courier New', Courier, monospace;
  line-height: 1;
  padding-top: 25px;
}

/* Nav Bar formatting */

  nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }

  nav a {
    justify-content: center;
    text-decoration: none;
    padding: 0 20px;
    background-color: #7F94EB;
    color: #3B456E;
    font-size: 2vw;
    display: block;
  }

/* Nav Bar Style */

  nav a:hover {
    background-color: rgb(103, 209, 255);
  }


/* Main Content */

/* Wrapper for main content */
.main-layout {
  max-width: 80vw;
  left: 20%;
  position: relative;
  display: flexbox;
  margin: 0;
}

/* Hero banner  */
.hero-banner {
  background: url(../images/oaklandPort.jpg);
  margin: 0;
  height: 38vh;
  background-position: center;
  flex-basis: fit-content;
}

/* Wrapper for main sections*/
.page-section {
  margin: 120px 0;
  padding: 0 10vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.page-section h2 {
  padding: 5px 5px;
}


/* WORK Section */

#work div {
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* Project formatting*/
.flex-item {
  flex-wrap: wrap;
  border: 5px solid #4D7587;
  background-color: #B0BFFF;
  color: #4D7587;
  padding: 0;
  margin: 0.5em;
  text-decoration: none;
  font-size: 1.5rem;
  width: 45%
}

/* Targets first project  */
.flex-item:first-child {
  min-height: 200px;
  flex-basis: 100%;
}


/* CONTACT SECTION */

#contact-me {
  display: block;
  text-align: center;
}

#contact-me address {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

address {
  background-color: #7F94EB;
}

/* TO DO: Contact Me ICON BUTTON */

.btn {
  background-color:#7F94EB;
  color: #3B456E;
  border: none;
  padding: 12px 16px;
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa {
  padding: 0;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

button:hover {
    opacity: 0.7;
}







/* Contact Me Link formatting */
/* TO DO: 
  - Add Icons*/

/* #contact-me address div {
  font-size: 2vw;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
  color: #4D7587;
}

address div a, i {
  font-size: 2vw;
  padding: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #4D7587;
  display: block;
} */




/* Made-in footer */

footer {
  font-size: small;
  margin-top: 3rem;
  text-align: center;
  padding-top: 30px;
}




/* MEDIA QUERY -- only breakpoints, NEED TO ADD CSS!! */

/* Tablets */
@media screen and (max-width: 992px) {
  header {
    
  }
}

/* Large smartphones  */
@media screen and (max-width: 768px) {
  nav {
    
  }
}

/* Small smartphones */
@media screen and (max-width: 576px) {
  .hero-banner {
    /* height: 150px;
    width: 300px;
    object-fit: scale-down; */
  }
}






/*  README: Referred to W3 Schools for button and icon formatting */
